/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
body{
    font-family: "Josefin Sans",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}
nav{
  background-color: #391f14;
  position: fixed;
  z-index: 2;
  width: 100%;
}
.main-menu{
  display: flex;
  padding: 15px 0;
  justify-content: space-between
}

.address{
  display: flex;
  max-width: 50%;
  width: 50%;
  align-items: center;
}
.address img{
  object-fit: contain;
}
.address ul{
  list-style: none;
  display: flex;
  padding-left: 50px;
  align-items: center;
  margin-bottom: 0;
}
.address ul li {
  color: white;
  font-size: 16px;
  font-weight: 300;
}
.address ul li + li{
  padding-left: 30px;
}
.desktop-menu{
  max-width: 50%;
}
.desktop-menu ul{
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  overflow: hidden;
}
.desktop-menu ul li {
  position: relative;
}
.desktop-menu ul li a{
  color: white;
  text-decoration: none;
  display: block;
  position: relative;
}
.desktop-menu ul li a:hover{
  color: #fd8f5f;
}
.desktop-menu ul li:last-child a:hover{
  color: white;
}
.desktop-menu ul li:last-child:hover{
  background-color: #fd8f5f;
}
.desktop-menu ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    bottom: -4px;
    right: 5px;
    left: -5px;
    height: 3px;
    z-index: 1;
    background: #fd8f5f;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.desktop-menu ul li:last-child:hover a::after{
  width: 0;
}
.desktop-menu ul li a:hover::after{
    left: 0;
    right: auto;
    width: 100%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.desktop-menu ul li + li{
  margin-left: 20px;
}
.desktop-menu ul li:last-child{
  padding: 10px 20px;
  background-color: #a85432;
  margin-left: 30px;
}
.banner{
  background-color: #391f14;
  width: 100%;
  position: relative;
  top: 82px;
  margin-bottom: 82px;
  min-height: 670px;
  overflow: hidden;
}
.banner.inside-pages{
  min-height: 350px;
}
.banner-img{
  width: 77%;
  position: absolute;
  right: 0;
}
.banner.inside-pages .banner-img{
  width: 60%;
}
.banner-img img{
  width: 100%;
  height: auto;
}
.banner-info{
  position: absolute;
  top: 22%;
  left: 8%;
}
.banner-info h2{
  font-size: 100px;
    font-weight: 600;
    margin-bottom: 33px;
    line-height: 1;
    display: block;
    color: #fff;
    width: 90%;
    margin-top: 0;
    font-family: 'Cormorant', serif;
}
.banner-info p{
  margin-bottom: 39px;
    display: block;
    color: #fff;
    font-size: 20px;
    padding-right: 50px;
    width: 27%;
    margin-top: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.banner.inside-pages .banner-info p{
  width: 58%;
}
.banner-info a{
  background-image: linear-gradient(to left,#a85432,#8f4e35,#a85432);
  color: white;
  text-decoration: none;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
}
.banner-info a:hover{
  background: #fd8f5f;
}
.about-info{
  padding-top: 110px;
  background: #f5f5f5;
}
.about-info.room-info{
  background: white;
  padding-bottom: 110px;
}
.about-info.room-info h3{
  width: 50%;
}
.about-info h3{
  font-size: 34px;
  display: block;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  font-family: "Cormorant",serif;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 60px;
}
.travel-info, .book-room-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.travel-details , .book-room-details{
  width: 33.333%;
}
.travel-img{
  width: 58%;
  position: relative;
}
.travel-img img{
  width: 100%;
}
.second-img{
  position: absolute;
  top: 50%;
  left: 28%;
  width: 463px !important;
}
.travel-details h4 , .book-room-details h4, .book-room-form h4{
  color: #a85432;
  font-size: 34px;
  width: 80%;
  display: block;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: "Cormorant",serif;
}
.travel-details p, .book-room-details p{
  font-size: 16px;
  font-weight: 300;
    color: #64676c;
    line-height: 1.6;
    margin-bottom: 63px;
    padding-right: 50px;
}
.travel-details a{
  background-image: linear-gradient(to left,#a85432,#8f4e35,#a85432);
  padding: 20px 40px;
  color: white;
  text-decoration: none;
  display: inline-block;
}
.travel-details a:hover{
  background: #fd8f5f;
}
.book-room-btn:hover{
  background: #fd8f5f;
  color: white;
  text-decoration: none;
}
.room-slider{
  padding-top: 240px;
  padding-bottom: 110px;
}
.room-slider h3{
  font-size: 34px;
  display: block;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  font-family: "Cormorant",serif;
  width: 35%;
  margin: 0 auto;
  padding-bottom: 60px;
}
.item{
  padding: 0 15px;
}
.room-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item p{
  margin-bottom: 20px;
    color: #391f14;
    font-weight: 300;
    line-height: 30px;
}

.room-details span{
  color: #fd8f5f;
}
.room-details h5{
  font-size: 20px;
  margin-bottom: 12px;
    font-weight: 600;
    display: block;
    line-height: 1.1;
    padding-right: 13px;
    color: #391f14!important;
}
.book-room{
  padding-bottom: 110px;
}
.book-room.about-us{
  padding-top: 240px;
}
.book-room-form{
  width: 42%;
}
.book-room-form .col-sm-6 {
  width: 100%;
}
.guest-select{
  margin-top: 15px;
  margin-bottom: 20px;
}
.book-room-btn{
  background: #a85432;
    padding: 15px 40px;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center
}
.book-room input, .book-room select{
  height: 50px;
  z-index: 1 !important;
}
.main-services{
  display: flex;
  justify-content:space-between ;
  padding-bottom: 110px;
}
.main-services div{
  padding: 0 20px;
  width: 33.33%;
}
.main-services div img{
  width: 100%;
}
.main-services div h4{
  font-size: 30px;
    margin-bottom: 12px;
    font-weight: 600;
    display: block;
    color: #391f14!important;
    line-height: 1.1;
    color: #391f14!important;
}
.main-services div p{
  margin-bottom: 20px;
    color: #391f14;
    font-weight: 300;
}
footer{
  background: #fff7f3;
  padding-top: 110px;
  padding-bottom: 110px;
}
.footer-info{
  display: flex;
  justify-content: space-between;
}
.footer-info .company-info{
  width: 33.33%;
}
.footer-nav ul{
  list-style: none;
}
.footer-nav{
  width: 16%;
}
.footer-address{
  width: 25%;
}
.company-info img{
  margin-bottom: 35px;
}
.company-info p{
  color: #5e5e5e;
    font-size: 16px;
    margin-bottom: 21px;
    line-height: 1.8;
}
.company-info ul{
  display: flex;
  list-style: none;
  padding: 0;
}
.company-info ul li i{
  font-size: 20px;
  color: #a85432;;
}
.company-info ul li i:hover{
  color: black;
}
.company-info ul li + li{
  padding-left: 10px;
}
.footer-nav h3{
  margin-top: 0;
  margin-bottom: 40px;
}
.footer-nav ul{
  padding: 0;
}
.footer-nav ul li a{
  color: #391f14;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline transparent;
}
.footer-nav ul li a:hover{
  color: #fd8f5f;
  text-decoration: line-through #fd8f5f;
}
.footer-nav ul li + li{
  margin-top: 20px;
}
.footer-address h3{
  margin-top: 0;
  margin-bottom: 40px;
}
.footer-address p{
  color: #5e5e5e;
    font-size: 16px;
}
.footer-number{
  font-family: "Josefin Sans",sans-serif;
  font-size: 24px!important;
  color: #fd8f5f!important;
  margin-bottom: 0;
  font-weight: 400!important;
  display: block;
}
.footer-email{
  font-family: "Josefin Sans",sans-serif;
    font-size: 14px!important;
    color: #fd8f5f!important;
    margin-bottom: 5px;
    display: block;
}
.owl-carousel{
  padding: 0 30px;
}
.hotel-rooms{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.rooms{
  width: 50%;
  padding: 20px;
}
.rooms img{
  margin-bottom: 20px;
}
.rooms p{
  margin-bottom: 20px;
  color: #391f14;
  font-weight: 300;
}
.get-in-touch-form h4{
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}
.get-in-touch-form .send-btn{
  background: rgb(255, 255, 255);
    display: inline-block;
    padding: 18px 44px;
    font-family: Cormorant, serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid rgb(253, 143, 95);
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(253, 143, 95) !important;
    margin-top: 20px;
    text-decoration: none;
}
.get-in-touch-form .send-btn:hover{
  background: rgb(253, 143, 95);
  color: white !important;
  font-weight: 600;
}
.get-in-touch-form input{
  margin-top: 20px;
  padding: 20px 10px;
}
.get-in-touch-info ul{
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.get-in-touch-info ul li{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}
.get-in-touch-info ul li div{
  position: absolute;
  left: 50px;
}
.get-in-touch-info ul li div p{
  margin-bottom: 0px;
  font-size: 16px;
  color: rgb(42, 42, 42);
  font-family: Cormorant, serif;
}
.get-in-touch-info ul li div span{
  color: rgb(138, 138, 138);
  margin-top: 3px;
  display: block;
}
.get-in-touch-info ul li i{
  color: rgb(138, 138, 138);
  font-size: 30px;
}
.get-in-touch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.get-in-touch-form{
  width: 60%;
}
.get-in-touch-info{
  width: 28%;
}
@media(max-width: 991px){
  .get-in-touch{
    flex-direction: column;
  }
  .get-in-touch-form{
    width: 100%;
  }
  .get-in-touch-info{
    width: 100%;
    margin-top: 40px;
  }
  .get-in-touch{
    padding: 80px 0;
  }
}
@media(max-width: 1200px){
  .address ul li {
    font-size: 12px;
  }
  .banner-info p {
    width: 34%;
  }
  .banner{
    min-height: 602px;
  }
  .about-info h3{
    width: 90%;
  }
  .second-img{
    left: 26%;
    width: 399px !important;
  }
  .travel-details h4, .book-room-details h4, .book-room-form h4{
    width: 90%;
  }
}
@media(max-width: 1023px){
  .banner-info{
    top: 9%;
    left: 5%;
  }
  .banner-info h2{
    font-size: 60px;
    margin-bottom: 25px;
  }
  .banner {
    min-height: 450px;
  }
  .about-info{
    padding-top: 80px;
  }
  .second-img {
    top: 52%;
    left: 25%;
    width: 300px !important;
  }
  .travel-details h4, .book-room-details h4, .book-room-form h4 {
    width: 100%;
    margin-bottom: 25px;
  }
  .travel-details p, .book-room-details p{
    margin-bottom: 30px;
  }
  .travel-info, .book-room-info{
    align-items: flex-start;
    padding-bottom: 40px;
  }
  .room-slider{
    padding-top: 100px;
  }
  .book-room.about-us{
    padding-top: 100px;
  }
  .room-slider h3{
    width: 60%;
  }
  .main-services{
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
  }
  .main-services div{
    width: 50%;
    margin-bottom: 20px;
  }
  footer{
    padding: 80px 0;
  }
  .desktop-menu ul li:last-child{
    margin-left: 20px;
  }
  .address ul{
    padding-left: 35px;
  }
  .address ul li + li{
    padding-left: 20px;
  }
}
/* Mobile nav css */
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 45px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 13px;
}

#nav-icon1 span:nth-child(3) {
  top: 26px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


@media(min-width:768px){
  .mobile-nav, .mobile-nav-open{
    display: none;
  }
}
@media(max-width: 767px){
  .banner-img img{
    display: none;
  }
  .banner-info h2{
    width: 100%;
    font-size: 40px;
  }
  .banner-info p{
    width: 100%;
  }
  .banner.inside-pages .banner-info p {
    width: 100%;
}
  .banner {
    min-height: 350px;
    position: relative;
    top: 50px;
    margin-bottom: 50px;
  }
  .banner.inside-pages {
    min-height: 200px;
  }
  .about-info {
    padding-top: 50px;
  }
  .about-info h3 {
    width: 100%;
    font-size: 25px;
    padding-bottom: 30px;
  }
  .travel-info, .book-room-info{
    flex-direction: column;
  }
  .travel-details, .book-room-details{
    width: 100%;
    margin-bottom: 30px;
  }
  .travel-img {
    margin: 0 auto;
  }
  .travel-details h4, .book-room-details h4, .book-room-form h4{
    font-size: 25px;
  }
  .travel-details p, .book-room-details p{
    padding-right: 0;
  }
  .travel-details p, .book-room-details p {
    margin-bottom: 20px;
  } 
  .room-slider h3 {
    width: 100%;
    font-size: 25px;
    padding-bottom: 40px;
  }
  .room-slider {
    padding-bottom: 50px;
  }
  .book-room-form{
    width: 100%;
  }
  .book-room {
    padding-bottom: 40px;
  }
  .main-services div {
    width: 100%;
  }
  .main-services{
    padding-bottom: 10px;
  }
  footer {
    padding: 50px 0;
  }
  .footer-info{
    flex-direction: column;
  }
  .footer-info .company-info {
    width: 100%;
  }
  .footer-nav, .footer-address {
    width: 100%;
    margin-top: 20px;
  }
  .footer-nav h3, .footer-address h3{
    margin-bottom: 20px
  }
  nav{
    display: none;
  }
  .mobile-nav {
    background: #391f14;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    padding-bottom: 0;
    position: fixed;
    z-index: 3;
    width: 100%;
    align-items: end;
  }
  .address{
    max-width: 75%;
    width: 75%;
  }
  .mobile-nav-open{
    display: none;
  }
  .mobile-nav-open ul{
    list-style: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    text-align: right;
    padding-right: 30px;
    margin-bottom: 0;
    position: fixed;
    background: #391f14;
    z-index: 2;
    top: 65px;
  }
  .mobile-nav-open ul li{
    color: white;
    padding-top: 20px;
  }
  .mobile-nav-open ul li a{
    color: white;
    text-decoration: none;
  }
  .mobile-nav-open ul li a:hover{
    color: #fd8f5f;
  }
  .mobile-nav-open.show{
    display: block;
  }
  .about-info.room-info .rooms, .about-info.room-info h3{
    width: 100%;
  }
  .room-details{
    align-items: baseline;
  }
  .rooms {
    padding: 10px;
  }
  .about-info.room-info{
    padding-bottom: 20px;
  }
  .banner-info {
    top: 10%;
  }
  .get-in-touch{
    padding: 50px 0;
  }
  .main-services div h4{
    font-size: 25px;
  }
}
